@page "/fichas"
@using Clube.Models.RPG;
@using System.ComponentModel.DataAnnotations;

<PageTitle>Bem Vindo</PageTitle>

<div class="row justify-content-around p-sm-0 w-100 m-0">
    <div class="col-sm-12 col-lg-5 col-xl-3 row justify-content-around container-fluid mb-4">
        <div class="col-12 mt-lg-5">
            <SpotifyPlayer></SpotifyPlayer>
        </div>
    </div>
    <div class="m-sm-0 p-sm-0 col-sm-12 col-lg-5">
        <nav class="w-100 col-12 m-0 p-0 bg-white justify-content-sm-center justify-content-md-center" style="height: fit-content;">
            <div class="nav nav-tabs justify-content-center justify-content-lg-start" id="nav-tab" role="tablist">
                <button class="nav-link rounded-0 active text-doofens fw-bold" id="nav-ficha-tab" data-bs-toggle="tab" data-bs-target="#nav-ficha" type="button" role="tab" aria-controls="nav-ficha" aria-selected="true">Ficha</button>
                <button class="nav-link rounded-0 text-jujuba fw-bold" id="nav-attributes-tab" data-bs-toggle="tab" data-bs-target="#nav-attributes" type="button" role="tab" aria-controls="nav-attributes" aria-selected="false">Atributos</button>
                <button class="nav-link rounded-0 d-lg-none d-xl-none text-pleshw fw-bold" id="nav-utility-tab" data-bs-toggle="tab" data-bs-target="#nav-utility" type="button" role="tab" aria-controls="nav-utility" aria-selected="false">Utilidades</button>
            </div>
        </nav>
        <div class="tab-content w-100 col-12 p-0 m-0 row" id="nav-tabContent">
            <div class="tab-pane fade show active col-12 row justify-content-center p-0 m-0" id="nav-ficha" role="tabpanel" aria-labelledby="nav-ficha-tab" tabindex="0">
                @if (MainPlayer != null)
                {
                    <PlayerProfile MainPlayer="MainPlayer"></PlayerProfile>
                }
            </div>
            <div class="tab-pane fade row justify-content-center p-0 m-0" id="nav-attributes" role="tabpanel" aria-labelledby="nav-attributes-tab" tabindex="0">
                <div style="overflow-y: auto; max-height: 720px;" class="h-100 bg-white container row shadow border-dark justify-content-center p-0 m-0">
                    <div class="tab-pane fade show active col-12 row justify-content-center p-0 m-0" id="nav-ficha" role="tabpanel" aria-labelledby="nav-ficha-tab" tabindex="0">
                        @if (MainPlayer != null)
                        {
                            <div class="row col-12 mt-4 justify-content-center">
                                <div class="col-12 row justify-content-center px-0">
                                    <div class="row col-12">
                                        <ProfileAttributes Player="@MainPlayer"></ProfileAttributes>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-5 col-xl-3  row justify-content-around container-fluid d-none d-lg-flex">
        <div class="row col-12 gap-3 justify-content-center" style="height: fit-content;">
            <div class="col-12 row justify-content-center align-items-center" style="height: 50px;">
                <div class="col-8 row justify-content-center mb-5">
                    <button @onclick="ResetPlayer" style="height: 40px;" class="btn btn-dark">Salvar Ficha</button>
                </div>
            </div>
            <div class="col-12">
                <RpgUtilitiesMenu></RpgUtilitiesMenu>
            </div>
        </div>
    </div>
</div>


@code {
    Player MainPlayer = Player.GetDefault();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    public void ResetPlayer()
    {
        MainPlayer = Player.GetDefault();
        StateHasChanged();
    }
}