@page "/fichas"
@using Clube.Data.RPG;
@using System.ComponentModel.DataAnnotations;

<PageTitle>Bem Vindo</PageTitle>

<div class="row">
    <div class="col-8">
        @if (ResultadoSorteio != null)
        {
            <div class="container row shadow border-dark justify-content-center px-0">
                <div class="row px-0 w-100 justify-content-center">
                    <ProfileHeader Player="@ResultadoSorteio"></ProfileHeader>
                </div>
                <div class="row">
                </div>
            </div>
        }
    </div>
    <div class="col-3 row justify-content-around container-fluid">
        <div class="col-6 row justify-content-center mb-5">
            <button @onclick="GetRandomPlayer" style="height: 40px;" class="btn btn-dark">Salvar Ficha</button>
        </div>
        <div class="col-10">
            <div class="accordion border-0 shadow" id="accordionHeaderFichas">
                <div class="accordion-item border-0">
                    <h2 class="accordion-header border-0">
                        <button class="accordion-button rounded-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDiceRolls" aria-expanded="true" aria-controls="collapseDiceRolls">
                            Rolar Dados
                        </button>
                    </h2>
                    <div id="collapseDiceRolls" class="accordion-collapse collapse" data-bs-parent="#accordionHeaderFichas">
                        <div class="accordion-body border-0 p-0">
                            <RollDiceMenu></RollDiceMenu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    Player? ResultadoSorteio;
    RandomList<Player> sorteio = new RandomList<Player> { };

    protected override void OnInitialized()
    {
        base.OnInitialized();
        sorteio.Add( new Player
            {
                Name = "Jujuba" ,
                Class = "Guerreiro" ,
                Age = 20 ,
                Race = "Humano" ,
                ProfileImg = "https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" ,
                Attributes = new PlayerAttributes
                {
                    Strength = 5 ,
                    Inteligence = 0
                }
            } );

        sorteio.Add( new Player
            {
                Name = "Drumon" ,
                Class = "Clérigo" ,
                Age = 21 ,
                Race = "Elfo" ,
                ProfileImg = "https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png" ,
                Attributes = new PlayerAttributes
                {
                    Strength = 0 ,
                    Inteligence = 2
                }
            } );

        sorteio.Add( new Player
            {
                Name = "Doofens" ,
                Class = "Mago" ,
                Age = 18 ,
                Race = "Humano" ,
                ProfileImg = "https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png" ,
                Attributes = new PlayerAttributes
                {
                    Strength = 0 ,
                    Inteligence = 6
                }
            } );
    }

    public void GetRandomPlayer()
    {
        ResultadoSorteio = sorteio.GetExceptLastResult();
        StateHasChanged();
    }
}