@page "/fichas"
@using Clube.Data.RPG;
@using System.ComponentModel.DataAnnotations;

<PageTitle>Bem Vindo</PageTitle>

<div class="row justify-content-center p-sm-0 w-100 m-0">
    <div class="row m-sm-0 p-sm-0 col-sm-12 col-lg-5 justify-content-center">
        @if (MainPlayer != null)
        {
            <div class="bg-white container row shadow border-dark justify-content-center px-0 py-0 my-0">
                <div class="row px-0 py-0 w-100 justify-content-center border-2 border-bottom">
                    <ProfileHeader Player="@MainPlayer"></ProfileHeader>
                </div>
                <div class="row col-12 mt-4 justify-content-center">
                    <div class="col-12 row justify-content-center px-0">
                        <div class="row col-12">
                            <ProfileAttributes Player="@MainPlayer"></ProfileAttributes>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-12 col-lg-3  row justify-content-around container-fluid">
        <div class="row col-12 gap-3" style="height: fit-content;">
            <div class="col-12 row justify-content-center align-items-center" style="height: 200px;">
                <div class="col-8 row justify-content-center mb-1">
                    <button @onclick="ResetPlayer" style="height: 40px;" class="btn btn-dark">Nova Ficha</button>
                </div>
                <div class="col-8 row justify-content-center mb-5">
                    <button @onclick="ResetPlayer" style="height: 40px;" class="btn btn-dark">Salvar Ficha</button>
                </div>
            </div>
            <div class="row col-12">
                <div class="accordion border-0" id="accordionHeaderFichas">
                    <div class="accordion-item border-0  rounded-0 ">
                        <h2 class="accordion-header border-0">
                            <button class="accordion-button rounded-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDiceRolls" aria-expanded="true" aria-controls="collapseDiceRolls">
                                Rolar Dados
                            </button>
                        </h2>
                        <div id="collapseDiceRolls" class="accordion-collapse collapse" data-bs-parent="#accordionHeaderFichas">
                            <div class="accordion-body  rounded-0  border-0 p-0">
                                <RollDiceMenu></RollDiceMenu>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-12">
                <div class="accordion border-0" id="accordionHeaderPlayerUtils">
                    <div class="accordion-item border-0  rounded-0 ">
                        <h2 class="accordion-header border-0">
                            <button class="accordion-button rounded-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePlayerNotes" aria-expanded="true" aria-controls="collapsePlayerNotes">
                                Anotações
                            </button>
                        </h2>
                        <div id="collapsePlayerNotes" class="accordion-collapse collapse" data-bs-parent="#accordionHeaderPlayerUtils">
                            <div class="accordion-body  rounded-0  border-0 p-0">
                                <ProfileNotes></ProfileNotes>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    Player MainPlayer = Player.GetEmpty();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    public void ResetPlayer()
    {
        MainPlayer = Player.GetEmpty();
        StateHasChanged();
    }
}