@page "/galeria"

<div class="container">
    <div class="row">
        <div class="col-4 shadow border border-3 rounded py-4 px-2 d-flex justify-content-around flex-column align-items-center">
            <YoutubeDownloader />
        </div>
    </div>
</div>

@code {

}
