@page "/galeria"
<div class="container">
    <div class="row">
        <div class="col-4 shadow border border-3 rounded py-4 px-0 d-flex justify-content-around flex-column align-items-center" style="max-width: 340px;">
            <YoutubeDownloader />
        </div>
    </div>
</div>

@code {

}
