@page "/"

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject SpotifyUserContext SpotifyUserContext

<h3>Welcome to Your App</h3>

@if (SpotifyUserContext.DisplayName != null)
{
    <p>User's Display Name: @SpotifyUserContext.DisplayName</p>
    <p>User's Country: @SpotifyUserContext.Country</p>
}

<a href="challenge-spotify" class="btn btn-success">Sign in with Spotify</a>


@code {
    private bool IsScopeGranted( string scope )
    {
        var authState = AuthenticationStateProvider.GetAuthenticationStateAsync().Result;
        return authState.User.HasClaim( c => c.Type == "scope" && c.Value.Contains( scope ) );
    }
}