<div class="card text-center shadow-sm rounded-0 user-select-none" style="height:600px;">
    <textarea class="form-control-plaintext px-3 h-100" placeholder="Anotações..."></textarea>
</div>

@code {

}


