<div class="card text-center shadow-sm rounded-0 user-select-none" style="height:600px;">
    <textarea class="form-control-plaintext p-3 h-100 text-dark" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" placeholder="Anotações..."></textarea>
</div>

@code {

}


