<div class="row">
    <span class="text-capitalize">@Title</span>
    <input class="user-rpg-input-info user-rpg-name-input border-0 px-0 text-center" type="text" value="@Value" />
</div>

@code {

    [Parameter] public required string Title { get; set; }
    [Parameter] public required string Value { get; set; }
}
