<div class="card text-center shadow-sm rounded-0 user-select-none">
    <div class="card-header text-capitalize row w-100 px-0 m-0 text-center justify-content-center bg-transparent border-0">
        <i class="@IconClassHandler(Title)"></i>
    </div>
    <div class="card-body row justify-content-center py-0 align-items-center">
        <input class="card-title fw-bolder text-center border-0 px-0 text-center col-6 font-monospace" value="@Value" />
    </div>
    <div class="card-footer bg-transparent fst-italic px-0">
            @Title
    </div>
</div>

@code {
    [Parameter]
    public Func<string, string> IconClassHandler { get; set; } = str =>
    {
        return "";
    };

    [Parameter] public required string Title { get; set; }
    [Parameter] public required string Value { get; set; }
}
