@using Clube.Models.RPG


<div class="row justify-content-around px-0 my-2 align-items-center w-100">
    <div class="col-12 row justify-content-around align-items-center px-0">
        <PlayerHeaderBasicInfo Player="Player"></PlayerHeaderBasicInfo>
    </div>
</div>

@code {
    [Parameter] public required Player Player { get; set; }
}
