@using Clube.Models.RPG

<div class="row justify-content-center">
    <div class="col-12 row justify-content-center mb-4">
        <PlayerHeaderAttributes Player="Player"></PlayerHeaderAttributes>
    </div>
        @foreach (PlayerAttribute attribute in Player.Attributes.Where( attr => attr.Type == AttributeType.SECONDARY ).OrderBy( attr => -attr.Name.Length ))
        {
        <div class="col-md-3 col-12 mb-4">
                <PlayerHeaderAttributeCard IconClassHandler="@IconClassHandler" Title="@(attribute.Name.ToString())" Value="@(attribute.Value.ToString())"></PlayerHeaderAttributeCard>
            </div>
        }
    </div>

@code {
    [Parameter] public required Player Player { get; set; }

    public string IconClassHandler( string attributeName )
    {
        switch (attributeName)
        {
            case "Força":
            case "Vigor":
            case "Strength":
                return "bi bi-person-up text-jujuba";
            case "Inteligencia":
            case "Inteligência":
            case "Intelligence":
                return "bi bi-mortarboard-fill text-pleshw";
            default:
                return "";
        }
    }
}
