@using Clube.Data.RPG


<div class="row justify-content-around px-5 py-4 bg-white align-items-center w-100">
    <div class="col-6 row justify-content-around align-items-center py-3">
        <PlayerHeaderBasicInfo Player="Player"></PlayerHeaderBasicInfo>
    </div>
    <div class="col-4">
        <PlayerHeaderAttributes Player="Player"></PlayerHeaderAttributes>
    </div>
</div>

@code {
    [Parameter] public required Player Player { get; set; }
}
